<% cache do %>
<div class="col-md-12 intro">
  <div class="container">
    <h1 class="tagline">You can enjoy life and still be there for your friends</h1>

    <p class="lead">Automatic likes and comments to make your friends closer and happier.</p>
  </div>
</div>

<div class="container">
  <div class="row features">
    <div class="col-md-3 col-xs-12 col-md-offset-3 feature-info">
      Free space, use it.
    </div>
  </div>
</div>
<% end %>
