<div class="col-md-12 intro">
  <div class="container">
    <h1 class="tagline">You can enjoy life and still be there for your friends</h1>

    <p class="lead">You can read all about it, baby.</p>
  </div>
</div>

<div class="col-md-12 news">
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut elit at lorem pharetra luctus. <a href="#">Read more</a>
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3 col-md-offset-1">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut elit at lorem pharetra luctus. Vivamus ornare consequat risus, a mollis nisi faucibus bibendum. 
    </div>
    
    <div class="col-md-3">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut elit at lorem pharetra luctus. Vivamus ornare consequat risus, a mollis nisi faucibus bibendum. 
    </div>
    
    <div class="col-md-3">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut elit at lorem pharetra luctus. Vivamus ornare consequat risus, a mollis nisi faucibus bibendum. 
    </div>
  </div>
</div>
