<% cache do %>
<div class="col-md-12 intro">
  <div class="container">
    <h1 class="tagline">You can enjoy life and still be there for your friends</h1>

    <p class="lead">You can read all about it, baby.</p>
  </div>
</div>

<div class="col-md-12 news">
  <div class="container">
    <div class="col-md-6 col-md-offset-4">
      <p>
        Bored to save face in facebook? We can do this for you.
      </p>

      <a href="#">Read more</a>      
    </div>
  </div>
</div>

<div class="container">
  <div class="row features">
    <div class="col-md-3 col-xs-12 col-md-offset-3 feature-info">
      Like
    </div>
    <div class="col-md-3 col-xs-12 col-xs-3 feature-info">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut elit at lorem pharetra luctus. Vivamus ornare consequat risus, a mollis nisi faucibus bibendum. 
    </div>
  </div>
  <div class="row features">
    <div class="col-md-3 col-xs-12 col-md-offset-3 feature-info">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut elit at lorem pharetra luctus. Vivamus ornare consequat risus, a mollis nisi faucibus bibendum. 
    </div>
    <div class="col-md-3 col-xs-12 col-xs-3 feature-info">
      Comments
    </div>    
  </div>
</div>
<% end %>
