<% cache do %>
<div class="col-md-12 intro">
  <div class="container">
    <h1 class="tagline">You can enjoy life and still be there for your friends</h1>

    <p class="lead">Automatic likes and comments to make your friends closer and happier.</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12 col-md-offset">
      <div class="container">
        <div class="wizard">
          <div class="row">
            <div class="col-md-4 col-md-offset-4 lead">
              <h2>What can we do for you?</h2>
            </div>
          </div>
          <div class="row">
            <div class="grid-md-12 grid-xs-12">
              <div class="col-md-2 lead">
                Never let your friends down without attention again. 
              </div>
              <div class="col-md-2 col-md-offset-1 lead">
                Create your own custom comments to write on your friend's timeline. 
              </div>
              <div class="col-md-2 col-md-offset-1 lead">
                Don't use the excuse that you don't have time for Facebook anymore. 
              </div>
              <div class="col-md-2 col-md-offset-1 lead">
                Why should you use it? Because you like them, really.
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<%end%>

  <div class="row avatars-wrapper">
    <h2 class="text-center"><%= t("home.users_home") %></h2>
    <div class="col-md-7 col-md-offset-3">
      <h2></h2>
      <% if @users.empty? %>
      <p class="lead">
        <%= t("home.no_people") %>
      </p>
      <% else %>
        <% @users.each do |user| %>
          <div class="avatar-user-home">
            <img src="<%= user.image %>">
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>



