<html>
  <head>
  </head>
  <body>
    <table class="container dashboard">
      <%- @activities.each do |activity| %>
        <tr>
          <td>
            <%= activity.category %>
          </td>
          <td>
            <%= activity.value %>
          </td>
          <td>
            <%= activity.friend_id %>
          </td>
          <td>
            <%= link_to "http://www.facebook.com/"+"#{activity.object_id}" %>
          </td>
        </tr>
      <%- end %>
    </table>
  </body>
</html>