<div class="container">
  <h2>Comment</h2>
<table class="table table-bordered">
  <tr>
    <td><%= @comment.value%></td>
  </tr>
</table>

<%= link_to "Edit", edit_comment_path(@comment) %> |
<%= link_to "Comments", comments_path %>

</div>
