<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for signing up, <%= @user.name %>!</h1>
    <p>You are awesome, and I can tell your friends think the same.</p>

    <p>Go and make them happier.</p>

    <p>I like you really Team</p>
  </body>
</html>
