<%= cache(relationship.friend) do %>
<div class="friend-data">
  <div class="avatar">
    <img src="<%= relationship.image %>">
  </div>

  <span class="friend-name">
    <a href="https://www.facebook.com/<%= relationship.facebook_id %>" target= "_blank"><%= friend_name relationship %></a>
  </span>
</div>
<% end %>
