<div class="container friends">
  <div class="page-header">
    <h1>Friends</h1>  
  </div>
  <%= form_tag(add_friends_facebook_index_path) do %>
  <div class="row">
    <%= render partial: "friend", collection: @friends %>    
  </div>
  <%= submit_tag "Salvar Amigos" %>
 <% end %>
</div>

<script type="text/javascript">
  var iconClassReverseMap = {
    "icon-thumbs-up-alt": "icon-thumbs-up",
    "icon-comments-alt": "icon-comments",
    "icon-thumbs-up": "icon-thumbs-up-alt",
    "icon-comments": "icon-comments-alt",
  };
  
  $(".actions .check").click(function() {
    var el = $(this),
        relatedToName = $(el).data("checkbox"),
        checkbox = el.siblings("input[name='" + relatedToName + "']"),
        newValue = !$(checkbox).is(":checked");

    for (var iconClass in iconClassReverseMap) {
      if (el.hasClass(iconClass)) {
        el.removeClass(iconClass).
          addClass(iconClassReverseMap[iconClass]);

        break;
      }
    }

    checkbox.prop("checked", newValue);
  });
</script>
