<div class="container friends">
  <div class="page-header">
    <h1>Friends</h1>  
  </div>
  <%= form_tag(add_friends_facebook_index_path) do %>
  <div class="row">
    <% @friends.each_with_index do |friend, current| %>
      <%= render partial: "friend", object: friend, locals: { current: current} %>    
    <% end %>
  </div>
 <% end %>
</div>
