# settings.yml
defaults: &defaults
  preferences:
    like_interval: 1
    comment_interval: 1
  facebook:
    app_id: 220912274737299
    app_secret: 309decf24d39fc92466ec90450b67730
  redis:
    host: "redis://10.11.12.13:6379"
    namespace: "ilikeyoureally"
  memcached_host: "10.11.12.13"

development:
  <<: *defaults

test: &testing
  <<: *defaults
