<div class="container wizard">
  <div class="row">
    <div class="grid-md-12 grid-xs-12">
      <div class="">
        <h2>Setting up</h2>
      </div>
      
      <p class="lead">
        Ok, you're ready to start. If everything went well, you're seeing a list of your friends below. Now it's time to help us work our magic: click on the little <i class="icon-thumbs-up-alt icon"></i> to indicate you want to automatically like some of that friend's posts; <i class="icon-comments-alt icon"></i> will give you similar behavior for comments.
      </p>
      
      <p class="lead">
        When you're ready to write your personal generic comments (an oxymoron for the social media age), click on "Next Step". They are optional, though, so feel free to stop here.
      </p>
      
      <div class="actions pull-right">
        <%= link_to "Don't show this again", hide_wizard_path(wizard_name: "friends"), remote: true, method: :put %>
        
        <%= link_to comments_path do %>
          <button class="btn btn-primary">
            Next Step
          </button>
        <% end %>
      </div>
    </div>
  </div>
</div>
