<div class="container dashboard">
  <div class="page-header">
    <h1>Activity Log</h1>
  </div>

  <div class="row">
    <%= render partial: "activity", collection: @activities %>    
  </div>

  <div class="row">
    <%= paginate @activities %>    
  </div>
</div>
